.da-widget-clock {
    position: relative;
    display: flex;
    align-items: stretch;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-bottom: 2rem;
    height: 157.5px;

    &__date {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to top, $primary-color 0%, $secondary-color 100%);
        text-align: center;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        padding: 25px 10px;
        color: #fff;
        align-items: center;
    }

    &__month,
    &__day-name {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2;
    }
    &__day {
        font-size: 2.8rem;
        font-weight: bold;
        line-height: 1.2;
    }

    &__label {
        font-size: 1.1rem;
        font-weight: 600;
        width: 100%;
        margin-bottom: 5px;
    }

    &__hours {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__hour,
    &__dot,
    &__minute,
    &__second {
        font-size: 1.7rem;
        font-weight: bold;
    }
}
